<aside class="filter-list-container">
  <div>
    <p>Filtros</p>
    <ul class="applied-filters-list">
      <% [*params[:category]]&.each do |category| %>
        <li>
          <%= link_to(products_path(**request.query_parameters.except("category"), "category": [*params[:category]] - [category.to_s]), class: "btn btn-sm") do %>
            <%= Category.find(category).name %>
            <%= image_tag("circle-xmark-solid.svg", height: "18px", width: "18px") %>
          <% end %>
        </li>
      <% end %>
      <% if params[:price].present? %>
        <li>
          <%= link_to(products_path(**request.query_parameters.except("price")), class: "btn btn-sm") do %>
            <%= "<= #{number_to_currency(params[:price].to_i)}" %>
            <%= image_tag("circle-xmark-solid.svg", height: "18px", width: "18px") %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <details open>
    <summary class="filter-list-summary">
      Preço
    </summary>
    <ul class="filter-list">
      <li>
        <label class="filter-list-item">
          <%= radio_button_tag("price", 0, params[:price] == "0", form: :filters_form) %>
          Grátis
        </label>
      </li>
      <li>
        <label class="filter-list-item">
          <%= radio_button_tag("price", 5, params[:price] == "5", form: :filters_form) %>
          Abaixo de R$5,00
        </label>
      </li>
      <li>
        <label class="filter-list-item">
          <%= radio_button_tag("price", 10, params[:price] == "10", form: :filters_form) %>
          Abaixo de R$10,00
        </label>
      </li>
      <li>
        <label class="filter-list-item">
          <%= radio_button_tag("price", 15, params[:price] == "15", form: :filters_form) %>
          Abaixo de R$15,00
        </label>
      </li>
      <li>
        <label class="filter-list-item">
          <%= radio_button_tag("price", 25, params[:price] == "25", form: :filters_form) %>
          Abaixo de R$25,00
        </label>
      </li>
      <li>
        <label class="filter-list-item">
          <%= radio_button_tag("price", 50, params[:price] == "50", form: :filters_form) %>
          Abaixo de R$50,00
        </label>
      </li>
      <li>
        <label class="filter-list-item">
          <%= radio_button_tag("price", 100, params[:price] == "100", form: :filters_form) %>
          Abaixo de R$100,00
        </label>
      </li>
    </ul>
  </details>
  <details open>
    <summary class="filter-list-summary">
      Categoria
    </summary>
    <div>
      <%= form_with(url: category_filters_path, data: {turbo_frame: "categories-list"}) do |categories_search_form| %>
        <%= categories_search_form.text_field(:q, placeholder: "Buscar categoria", class: "input input-full") %>
        <%= categories_search_form.hidden_field(:form, value: "filters_form") %>
        <%= categories_search_form.hidden_field(:turbo_frame, value: "categories-list") %>
        <% [*params[:category]]&.each do |category| %>
          <%= categories_search_form.hidden_field("category[]", value: category) %>
        <% end %>
      <% end %>
      <%= render(
            template: "category_filters/index",
            locals: {
              turbo_frame: "categories-list",
              categories: @categories,
              form: :filters_form
            }
          ) %>
    </div>
  </details>
  <%= form_with(url: products_path, id: :filters_form, method: "GET") do |filters_form| %>
    <%= filters_form.hidden_field(:q, value: params[:q]) %>
    <%= filters_form.submit("Aplicar Filtros", class: "btn btn-full") %>
  <% end %>
</aside>