<div class="container">
  <aside class="filter-list-container">
    <div>
      <p>Filtros</p>
      <ul class="applied-filters-list">
        <% [*params[:category]]&.each do |category| %>
          <li>
            <%= link_to(products_path(**request.query_parameters.except("category"), "category": [*params[:category]] - [category.to_s]), class: "btn btn-sm") do %>
              <%= Category.find(category).name %>
              <%= image_tag("circle-xmark-solid.svg", height: "18px", width: "18px") %>
            <% end %>
          </li>
        <% end %>
        <% if params[:price].present? %>
          <li>
            <%= link_to(products_path(**request.query_parameters.except("price")), class: "btn btn-sm") do %>
              <%= "<= #{number_to_currency(params[:price].to_i)}" %>
              <%= image_tag("circle-xmark-solid.svg", height: "18px", width: "18px") %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <details open>
      <summary class="filter-list-summary">
        Preço
      </summary>
      <ul class="filter-list">
        <li>
          <label class="filter-list-item">
            <%= radio_button_tag("price", 0, params[:price] == "0", form: :filters_form) %>
            Grátis
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <%= radio_button_tag("price", 5, params[:price] == "5", form: :filters_form) %>
            Abaixo de R$5,00
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <%= radio_button_tag("price", 10, params[:price] == "10", form: :filters_form) %>
            Abaixo de R$10,00
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <%= radio_button_tag("price", 15, params[:price] == "15", form: :filters_form) %>
            Abaixo de R$15,00
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <%= radio_button_tag("price", 25, params[:price] == "25", form: :filters_form) %>
            Abaixo de R$25,00
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <%= radio_button_tag("price", 50, params[:price] == "50", form: :filters_form) %>
            Abaixo de R$50,00
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <%= radio_button_tag("price", 100, params[:price] == "100", form: :filters_form) %>
            Abaixo de R$100,00
          </label>
        </li>
      </ul>
    </details>
    <details open>
      <summary class="filter-list-summary">
        Categoria
      </summary>
      <div>
        <input type="text" name="category.name" placeholder="Buscar categoria" class="input input-full"/>
        <ul class="filter-list">
          <% @categories.each do |category| %>
            <li>
              <label class="filter-list-item">
                <%= check_box_tag("category[]", category.id, params[:category]&.include?(category.id.to_s), id: "category_#{category.id}", form: :filters_form) %>
                <%= category.name %>
              </label>
            </li>
          <% end %>
        </ul>
      </div>
    </details>
    <%= form_with(url: products_path, id: :filters_form, method: "GET") do |filters_form| %>
      <% filters_form.submit("Aplicar Filtros", class: "btn btn-full") %>
    <% end %>
  </aside>
  <div class="search-container">
    <div>
      <ul class="product-content-type-list">
        <li>
          <%= link_to(products_path({**request.query_parameters.except("content_type")}), class: class_names("btn btn-sm", "btn-active": request.query_parameters["content_type"].nil?)) do %>
            <%= Product.human_attribute_name("content_type.all") %>
          <% end %>
        </li>
        <% (Product.select(:content_type).distinct.map(&:content_type)).each do |content_type| %>
          <li>
            <%= link_to(products_path({**request.query_parameters, "content_type" => content_type}), class: class_names("btn btn-sm", "btn-active": request.query_parameters["content_type"] == content_type)) do %>
              <%= Product.human_attribute_name("content_type.#{content_type}") %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <header>
      <%= form_with url: products_path, method: "GET", class: "search" do |search_form| %>
        <% [*params[:category]]&.each do |category| %>
          <%= search_form.hidden_field("category[]", value: category) %>
        <% end %>
        <% if params[:price].present? %>
          <%= search_form.hidden_field("price", value: params[:price]) %>
        <% end %>
        <%= search_form.text_field(:q, class: "input input-full", value: params[:q], placeholder: "Buscar jogo ou palavra-chave", autofocus: true) %>
        <%= search_form.button(type: "submit", class: "btn") do %>
          <span class="sr-only">Buscar</span>
          <%= image_tag("magnifying-glass-solid.svg", width: "20px", height: "20px", "aria-hidden": true) %>
        <% end %>
      <% end %>
    </header>
    <section class="search-results">
      <span><%= @products.size %> resultados</span>
      <ol class="search-result-list">
        <% @products.map { ProductPresenter.new(_1) }.each do |product| %>
          <li>
            <div class="card">
              <div>
                <img src="<%= product.image_url %>" alt="<%= product.image_alt %>" />
              </div>
              <div class="card-body">
                <h4><%= product.name %></h4>
                <ul class="product-categories-list">
                  <% product.categories.each do |category| %>
                    <li><%= category.name %></li>
                  <% end %>
                </ul>
                <div class="product-price">
                  <p class="badge product-price-badge"><%= product.price.zero? ? Product.human_attribute_name("price", count: 0) : number_to_currency(product.price) %></p>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ol>
    </section>
  </div>
</div>
