<div class="container">
  <aside class="filter-list-container">
    <div>
      <p>Filtros</p>
      <ul class="applied-filters-list">
        <li>
          <button class="btn btn-sm">PC <%= image_tag("circle-xmark-solid.svg", height: "18px", width: "18px") %></button>
        </li>
        <li>
          <button class="btn btn-sm">< R$50 <%= image_tag("circle-xmark-solid.svg", height: "18px", width: "18px") %></button>
        </li>
        <li>
          <button class="btn btn-sm">Action <%= image_tag("circle-xmark-solid.svg", height: "18px", width: "18px") %></button>
        </li>
      </ul>
    </div>
    <details open>
      <summary class="filter-list-summary">
        Preço
      </summary>
      <ul class="filter-list">
        <li>
          <label class="filter-list-item">
            <input type="radio" name="price" value="0">
            Grátis
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="radio" name="price" value="5">
            Abaixo de R$5,00
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="radio" name="price" value="10">
            Abaixo de R$10,00
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="radio" name="price" value="15">
            Abaixo de R$15,00
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="radio" name="price" value="25">
            Abaixo de R$25,00
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="radio" name="price" value="50">
            Abaixo de R$50,00
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="radio" name="price" value="100">
            Abaixo de R$100,00
          </label>
        </li>
      </ul>
    </details>
    <details open>
      <summary class="filter-list-summary">
        Categoria
      </summary>
      <div>
        <input type="text" name="category.name" placeholder="Buscar categoria" class="input input-full"/>
        <ul class="filter-list">
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="action" />
              Action
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="adventure" />
              Adventure
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="role_playing" />
              Role Playing
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="strategy" />
              Strategy
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="simulation" />
              Simulation
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="puzzle" />
              Puzzle
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="platformer" />
              Platformer
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="racing" />
              Racing
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="sports" />
              Sports
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="fighting" />
              Fighting
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="shooter" />
              Shooter
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="survival" />
              Survival
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="stealth" />
              Stealth
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="sandbox" />
              Sandbox
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="horror" />
              Horror
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="mmorpg" />
              MMORPG
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="open_world" />
              Open-World
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="educational" />
              Educational
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="music_rythm" />
              Music-Rythm
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="visual_novel" />
              Visual Novel
            </label>
          </li>
        </ul>
      </div>
    </details>
    <input type="submit" value="Aplicar Filtros" class="btn btn-full" />
  </aside>
  <div class="search-container">
    <div>
      <ul class="product-type-list">
        <li>
          <label class="btn btn-sm">
            <input type="checkbox" name="type[]" value="all" />
            TODOS
          </label>
        </li>
        <li>
          <label class="btn btn-sm">
            <input type="checkbox" name="type[]" value="game" />
            JOGOS
          </label>
        </li>
        <li>
          <label class="btn btn-sm">
            <input type="checkbox" name="type[]" value="dlc" />
            DLCs
          </label>
        </li>
        <li>
          <label class="btn btn-sm">
            <input type="checkbox" name="type[]" value="gift_card" />
            GIFT CARDS
          </label>
        </li>
        <li>
          <label class="btn btn-sm">
            <input type="checkbox" name="type[]" value="subscription" />
            ASSINATURAS
          </label>
        </li>
        <li>
          <label class="btn btn-sm">
            <input type="checkbox" name="type[]" value="ingame_currency" />
            MOEDAS
          </label>
        </li>
        <li>
          <label class="btn btn-sm">
            <input type="checkbox" name="type[]" value="bundle" />
            PACOTES
          </label>
        </li>
      </ul>
    </div>
    <header>
      <form action="/products" class="search">
        <input type="text" name="q" class="input input-full" placeholder="Buscar jogo ou palavra-chave" autofocus/>
        <button type="submit" class="btn">
          <span class="sr-only">
            Buscar
          </span>
          <%= image_tag("magnifying-glass-solid.svg", width: "20px", height: "20px", "aria-hidden": true) %>
        </button>
      </form>
    </header>
    <section class="search-results">
      <span><%= @products.size %> resultados</span>
      <ol class="search-result-list">
        <% @products.each do |product| %>
          <li>
            <div class="card">
              <div class="card-header"></div>
              <div class="card-body">
                <p><%= product.name %></p>
                <ul class="product-system-list">
                  <% product.categories.each do |category| %>
                    <li><%= category.name %></li>
                  <% end %>
                </ul>
                <div class="product-price">
                  <p class="product-price-badge badge">R$ <%= product.price %></p>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ol>
      <div class="pagination-container">
        <%= link_to(products_path({**request.query_parameters, "page" => ([(params[:page].to_i - 1), 1].max)}), class: "btn btn-ghost") do %>
          <%= image_tag("chevron-left-solid.svg", "aria-hidden": true, width: "20px", height: "20px") %>
          <span class="sr-only">Previous page</span>
        <% end %>
        <%= link_to(products_path({**request.query_parameters, "page" => params[:page].to_i + 1}), class: "btn btn-ghost") do %>
          <%= image_tag("chevron-right-solid.svg", "aria-hidden": true, width: "20px", height: "20px") %>
          <span class="sr-only">Next page</span>
        <% end %>
      </div>
    </section>
  </div>
</div>
