<div class="container">
  <aside class="filter-list-container">
    <div>
      <p>Filtros</p>
      <ul class="applied-filters-list">
        <li>
          <button class="btn btn-sm">PC <%= image_tag("circle-xmark-solid.svg", height: "18px", width: "18px") %></button>
        </li>
        <li>
          <button class="btn btn-sm">< R$50 <%= image_tag("circle-xmark-solid.svg", height: "18px", width: "18px") %></button>
        </li>
        <li>
          <button class="btn btn-sm">Action <%= image_tag("circle-xmark-solid.svg", height: "18px", width: "18px") %></button>
        </li>
      </ul>
    </div>
    <details open>
      <summary class="filter-list-summary">
        Preço
      </summary>
      <ul class="filter-list">
        <li>
          <label class="filter-list-item">
            <input type="radio" name="price" value="0">
            Grátis
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="radio" name="price" value="5">
            Abaixo de R$5,00
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="radio" name="price" value="10">
            Abaixo de R$10,00
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="radio" name="price" value="15">
            Abaixo de R$15,00
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="radio" name="price" value="25">
            Abaixo de R$25,00
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="radio" name="price" value="50">
            Abaixo de R$50,00
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="radio" name="price" value="100">
            Abaixo de R$100,00
          </label>
        </li>
      </ul>
    </details>
    <details open>
      <summary class="filter-list-summary">
        Categoria
      </summary>
      <div>
        <input type="text" name="category.name" placeholder="Buscar categoria" class="input input-full"/>
        <ul class="filter-list">
          <% @categories.each do |category| %>
            <li>
              <label class="filter-list-item">
                <input type="checkbox" name="category[]" value="<%= category.id %>" />
                <%= category.name %>
              </label>
            </li>
          <% end %>
        </ul>
      </div>
    </details>
    <input type="submit" value="Aplicar Filtros" class="btn btn-full" />
  </aside>
  <div class="search-container">
    <div>
      <ul class="product-content-type-list">
        <% (["all"] + Product.select(:content_type).distinct.map(&:content_type)).each do |content_type| %>
          <li>
            <%= link_to(products_path({**request.query_parameters, "content_type" => content_type}), class: class_names("btn btn-sm", "btn-active": request.query_parameters["content_type"] == content_type)) do %>
              <%= Product.human_attribute_name("content_type.#{content_type}") %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <header>
      <form action="/products" class="search">
        <input type="text" name="q" class="input input-full" placeholder="Buscar jogo ou palavra-chave" autofocus/>
        <button type="submit" class="btn">
          <span class="sr-only">
            Buscar
          </span>
          <%= image_tag("magnifying-glass-solid.svg", width: "20px", height: "20px", "aria-hidden": true) %>
        </button>
      </form>
    </header>
    <section class="search-results">
      <span><%= @products.size %> resultados</span>
      <ol class="search-result-list">
        <% @products.each do |product| %>
          <li>
            <div class="card">
              <div>
                <% if product.image_url.present? %>
                  <img src="<%= product.image_url %>" alt="<%= product.name %> banner" />
                <% else %>
                  <img src="https://dummyimage.com/460x215/33414f/64748b" alt="" aria-hidden=true />
                <% end %>
              </div>
              <div class="card-body">
                <p><%= product.name %></p>
                <ul class="product-categories-list">
                  <% product.categories.each do |category| %>
                    <li><%= category.name %></li>
                  <% end %>
                </ul>
                <div class="product-price">
                  <p class="product-price-badge badge">R$ <%= product.price %></p>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ol>
    </section>
  </div>
</div>
